.places {
  max-width: 984px;
  padding: 92px 48px;
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 125px 24px 88px;
  }
}

@media screen and (max-width: 767px) {
   .places {
    padding: 64px 16px;
  }
}

@media screen and (max-width:424px) {
  .places {
    padding: 64px 0;
  }
}
